.btn {
    @apply inline-block font-bold py-2 px-3 rounded;
}
.btn-lg {
    @apply py-3 px-4;
}
.btn[disabled] {
    @apply opacity-50 cursor-not-allowed pointer-events-none;
}
.btn.is-loading {
    color: transparent !important;
    pointer-events: none;
}

.btn-primary {
    @apply bg-primary-500 text-white;
    --text-color: theme('colors.white');
}
.btn-primary:hover,
.btn-primary:focus {
    @apply bg-primary-700;
}

.btn-secondary {
    @apply bg-gray-300 text-gray-800;
    --text-color: theme('colors.gray.800');
}
.btn-secondary:hover,
.btn-secondary:focus {
    @apply bg-gray-400;
}

.btn-link {
    @apply text-primary-500;
    --text-color: theme('colors.primary.500');
}
.btn-link:hover,
.btn-link:focus {
    @apply text-primary-700 underline;
}

button:focus {
    @apply outline-none;
}

.btn-group {
    @apply inline-flex;
}
.btn-group .btn {
    @apply rounded-none;
}
.btn-group .btn:first-child {
    @apply rounded-l;
}
.btn-group .btn:last-child {
    @apply rounded-r;
}
